<form action="/books/<%= @book.id %>" method="post">

  <label for="title">Title</label>
  <input required type="text" id="title" name="title" value="<%= @book.title %>">

  <label for="author_id">Author:</label>
  <select name="author_id" id = "author-id">
    <% for author in @authors %>
      <option <%= "selected" if @book.author_id == author.id %> value="<%= author.id %>"><%= author.name %></option>
    <% end %>
  </select>

  <label for="genre">Genre:</label>
  <select name="genre" id = "genre">
    <% for genre in @genres %>
      <option <%= "selected" if @book.genre == genre %> value="<%= genre %>"><%= genre %></option>
    <% end %>
  </select>

  <label for="description">Description:</label>
  <input required type="text" id = "description" name="description" value = "<%= @book.description %>">

  <label for="stock">Stock count:</label>
  <input required type="number" id = "stock" name="stock" value = "<%= @book.stock %>">

  <label for="buying_cost">Purchase cost:</label>
  <input required type="text" id = "buying_cost" name="buying_cost" value = "<%= @book.buying_cost %>">

  <label for="selling_price">Selling price:</label>
  <input required type="text" id = "selling_price" name="selling_price" value = "<%= @book.selling_price %>">

  <label for="picture_link">Picture link:</label>
  <input type="text" id = "picture_link" name="picture_link" value = "<%= @book.picture_link %>">



  <input type="submit" value="Edit book details">
</form>
