<h1>All books in the database</h1>
<div id="index-table">
  <table>
    <tr>
      <th>Title<br><a href="/books/title/Z-A"><i class="arrow up"></i></a>  <a href="/books/title/A-Z"><i class="arrow down"></i></a></th>
      <th>Author<br><a href="/books/author/Z-A"><i class="arrow up"></i></a>  <a href="/books/author/A-Z"><i class="arrow down"></i></a></th>
      <th>Genre<br><a href="/books/genre/Z-A"><i class="arrow up"></i></a>  <a href="/books/genre/A-Z"><i class="arrow down"></i></a></th>
      <th>Description</th>
      <th>Stock remaining<br><a href="/books/stock/Z-A"><i class="arrow up"></i></a>  <a href="/books/stock/A-Z"><i class="arrow down"></i></a></th>
    </tr>

    <% for book in @books %>
      <tr>
        <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
        <td><%= book.find_author_name %></td>
        <td><%= book.genre %></td>
        <td><%= book.description %></td>
        <% if book.stock == 0 %>
          <td id = "no-stock"><%= book.stock %></td>
        <% elsif book.stock <= 3 %>
          <td id = "low-stock"><%= book.stock %></td>
        <% else %>
          <td><%= book.stock %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
