<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.find_author_name %></p>
<p>Stock: <%= @book.stock %></p>
<p>Purchase cost: £<%= @book.buying_cost.to_s.insert(-3, ".") %></p>
<p>Purchasing <%= @quantity %> costs: £<%= (@book.buying_cost * @quantity).to_s.insert(-3, ".") %></p>
