<h1>Branson's Bookstore</h1>
<hr>

<div id="low-stock-area">
  <table id=low-stock-table>
    <caption>Books low in stock</caption>

    <tr>
      <th>Title</th>
      <th>Stock remaining</th>
    </tr>
    <% for book in @books %>
      <% if book.stock <= 3 && book.stock != 0 %>
        <tr>
          <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
          <td id="low-stock"><%= book.stock %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div id="no-stock-area">
  <table id=no-stock-table>
    <caption>Books out of stock</caption>
    <tr>
      <th>Title</th>
      <th>Stock remaining</th>
    </tr>
    <% for book in @books %>
      <% if book.stock == 0 %>
        <tr>
          <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
          <td id="no-stock"><%= book.stock %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
