<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.find_author_name %></p>
<p>Stock left: <%= @book.stock %></p>
<p>Selling price: £<%= @book.selling_price.to_s.insert(-3, ".") %></p>
<% if @book.stock >= @quantity %>
  <p>Selling <%= @quantity %> costs: £<%= (@book.selling_price * @quantity).to_s.insert(-3, ".") %></p>
<% else %>
  <p>Attempted to sell <%= @quantity %> copies of this book.</p>
  <p>There are not enough copies to complete this transaction.</p>
<% end %>
