<h1>Sell Book</h1>

<hr/>

<div id = "display_picture">
  <img src="<%= @book.picture_link %>">
</div>

<h2>Title: <%= @book.title %></h2>
<h2>Author: <%= @book.find_author_name %></h2>
<h2>Stock left: <%= @book.stock %></h2>
<h2>Selling price: £<%= @book.selling_price.to_s.insert(-3, ".") %></h2>
<% if @book.stock >= @quantity %>
  <h2>Selling <%= @quantity %> costs: £<%= (@book.selling_price * @quantity).to_s.insert(-3, ".") %></h2>
<% else %>
  <h2>Attempted to sell <%= @quantity %> copies of this book.</h2>
  <h2>There are not enough copies to complete this transaction.</h2>
<% end %>
